.main {
  display: flex;
  .image-canvas {
    width: 65%;
    height: 50vw;
  }
  .result-container {
    width: 35%;
  }
  .google-panel {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    padding: 20px;
    text-align: center;
  }
  .panel-title {
    margin-top: 0;
    font-family: system-ui;
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 15px;
  }
}
