<div class="canvas-container">
  <canvas class= "google-border" #imageCanvas id="imageCanvas" width="630" height="700"></canvas>
  <div class="btn-container">
    <button class="mr google-button" (click)="onUploadClick()">Upload Image</button>
    <button id="cropButton" class="google-button ml" (click)="onCropClick($event)" [disabled]="isCropBtnDisabled">Crop Image</button>
  </div>
  <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" style="display:none;" />
</div>
